.contacto {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-top: 2px solid #e7e7e7;
    background-image: url(../img/index/bg.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    .contacto__sectionUno {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: $color-primario 3px solid;
        border-radius: 4px;
        box-shadow: 0 2px 3px 0 rgb(157, 157, 157);
        padding: 3px;
        margin: 20px;
        width: 280px;
        background-color: rgba($color: #fff, $alpha: .75);
        .contacto__sectionUno-title {
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
            border-bottom: 2px solid $color-primario;
            padding: 2px;
        }
        .contacto__sectionUno-label {
            font-size: 1.4rem;
            font-weight: 500;
            color: #3e3e3e;
            margin: 0px;
        }
        .contacto__sectionUno-text {
            font-size: 1.2rem;
            font-weight: 500;
            color: #3e3e3e;
        }
    }
    .contacto__sectionDos {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: $color-primario 3px solid;
        border-radius: 4px;
        box-shadow: 0 2px 3px 0 rgb(157, 157, 157);
        padding: 3px;
        margin: 20px;
        width: 280px;
        background-color: rgba($color: #fff, $alpha: .75);
        .contacto__form {
            .contacto__form-title {
                font-size: 2rem;
                font-weight: 600;
                text-align: center;
                border-bottom: 2px solid $color-primario;
                padding: 2px;
                margin: 0px 5px;
            }
            .contacto__form-subtitle {
                font-size: 1.4rem;
                font-weight: 500;
                color: #3e3e3e;
                margin: 0px;
                text-align: center;
            }
            .contacto__form-row {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                .contacto__row {
                    width: 50%;
                }
            }
            .contacto__form-group {
                margin: .5rem;
                .contacto__control {
                    display: block;
                    width: 100%;
                    padding: 5px;
                    font-size: 1.2rem;
                    color: #495057;
                    background-color: rgba($color: #fff, $alpha: .75);
                    border: 1px solid #ced4da;
                    border-radius: .25rem;
                    text-align: center;
                    &--text {
                        text-align: left;
                    }
                }
            }  
            .contacto__form-check {
                display: flex;
                flex-direction: row;
                padding: 5px;
                width: 100%;
            }  
            .contacto__submit {
                margin: 5px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                .contacto__submit-text{
                    font-size: 1.4rem;
                    font-weight: bold;
                    font-family: 'Poppins', sans-serif;
                    background-color: $color-primario;
                    color: white;
                    border: none;
                    padding: 5px;
                    border-radius: 4px;
                    text-align: center;
                }
            }
        }
    }
}