$color-primario: #0169b5;

@mixin div-hover {
    transform: scale(1.05);
    box-shadow: 0 2px 3px 0 rgb(108, 108, 108);
}

@mixin div-style ($border-width, $border-color, $div-padding) {
    background-color: #fff;
    border-radius: 4px;
    border: solid $border-width $border-color;
    box-shadow: 0 2px 3px 0 rgb(157, 157, 157);
    margin: 10px 40px;
    padding: $div-padding;
    text-align: center;
}


